<h2>Log in</h2>
<%= form_with(url: login_path, method: :post) do|form| %>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: 'Enter email' %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: 'password', autocomplete: 'off' %>
  </div>
  <div class="mb-3">
    <%= form.submit('Login', class: "btn btn-success btn-md") %>
  </div>
<% end %>
