<% if @article.errors.any? %>
  <h3>The following errors prevented the article from getting edited!</h3>
  <% @article.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<div class="container">
  <%= form_with(model: @article, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div>
      <%= form.submit "Create Article", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
<div class="d-grid gap-2 col-3 mx-auto">
  <%= link_to 'Cancel request and return to articles listing', articles_path %>
</div>