<h2>Listing all articles</h2>
<div>
  <p>
    <%= link_to 'Create new article', new_article_path %>
  </p>
</div>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @articles.each do|article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete #{article.title}" } %></td>
    </tr>
  <% end %>
</table>