<h2>Showing selected  article</h2>
<div>
  <h3>Title: <%= @article.title %></h3>
</div>
<div>
  <p>Description: <%= @article.description %></p>
</div>
<div>
  <% if logged_in? && current_user == @article.user %>
    <%= link_to 'Edit this article', edit_article_path(@article) %> | <%= link_to 'Delete this article', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?'} %>
  <% end %>
</div>
<div>
  <br/>
  <%= link_to 'Back to articles listing', articles_path %>
</div>