<% if @user.errors.any? %>
  <h3>The following errors prevented the user from getting created!</h3>
  <% @user.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
<%= form_with(model: @user, local: true) do|form| %>
  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, placeholder: 'Enter username', autofocus: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: 'email@samplemail.com' %>
  </div>
  <% if @user.new_record? %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: 'password' %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: 'password' %>
    </div>
  <% else %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: 'password' %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-success btn-md") %>
  </div>
<% end %>